In [7]:
import pandas as pd

In [8]:
estacions_bicing = pd.read_csv('data/estacions_bicing.csv', sep = ';')

In [9]:
estacions_bicing.head()

   Anys  Valor
0  2007    194
1  2008    390
2  2009    419
3  2010    420
4  2011    421

In [10]:
abonats_bicing = pd.read_csv('data/abonats_bicing.csv', sep=';', encoding = 'ISO-8859-1')

In [27]:
abonats_bicing

    Anys       Mes   Valor
0   2014     Anual   96252
1   2014     Gener       0
2   2014    Febrer       0
3   2014      Març   99401
4   2014     Abril   99038
5   2014      Maig   98382
6   2014      Juny   97957
7   2014    Juliol   97437
8   2014     Agost   97109
9   2014  Setembre   96846
10  2014   Octubre   96330
11  2014  Novembre   95886
12  2014  Desembre   96252
13  2015     Anual   95537
14  2015     Gener   95745
15  2015    Febrer   96191
16  2015      Març   96385
17  2015     Abril   95581
18  2015      Maig   95173
19  2015      Juny   95290
20  2015    Juliol   95116
21  2015     Agost   95395
22  2015  Setembre       0
23  2015   Octubre       0
24  2015  Novembre       0
25  2015  Desembre       0
26  2016     Anual  102353
27  2016     Gener   94913
28  2016    Febrer   96059
29  2016      Març   96452
30  2016     Abril   96583
31  2016      Maig   96715
32  2016      Juny   97573
33  2016    Juliol   97528
34  2016     Agost   98497
35  2016  Setembre   99772
36  2016   Octubre   99584
37  2016  Novembre  100968
38  2016  Desembre  102353
39  2017     Anual  106688
40  2017     Gener  103330
41  2017    Febrer  103832
42  2017      Març  104686
43  2017     Abril  105281
44  2017      Maig  106430
45  2017      Juny  106649
46  2017    Juliol  106883
47  2017     Agost  106688
48  2017  Setembre  106295
49  2017   Octubre  106763
50  2017  Novembre  107143
51  2017  Desembre  106688
52  2018     Gener  107218
53  2018    Febrer  106856
54  2018      Març  106717
55  2018     Abril  106681
56  2018      Maig  106308
57  2018      Juny  106453
58  2018    Juliol  106308

In [12]:
demanda_bicing = pd.read_csv('data/demanda_bicing.csv', sep = ';', encoding = 'ISO-8859-1')

In [28]:
demanda_bicing

     Anys       Mes     Valor
0    2007     Anual   3781855
1    2007     Gener         0
2    2007    Febrer         0
3    2007      Març       744
4    2007     Abril     18684
5    2007      Maig    181861
6    2007      Juny    363399
7    2007    Juliol    510983
8    2007     Agost    452278
9    2007  Setembre    541646
10   2007   Octubre    546365
11   2007  Novembre    622796
12   2007  Desembre    543099
13   2008     Anual  12307828
14   2008     Gener    717545
15   2008    Febrer    775494
16   2008      Març    911191
17   2008     Abril   1120121
18   2008      Maig   1082011
19   2008      Juny   1173518
20   2008    Juliol   1185254
21   2008     Agost    984162
22   2008  Setembre   1182431
23   2008   Octubre   1212708
24   2008  Novembre   1036873
25   2008  Desembre    926520
26   2009     Anual  10704955
27   2009     Gener    965094
28   2009    Febrer    810471
29   2009      Març    983955
..    ...       ...       ...
120  2016      Març   1070994
121  2016     Abril   1170000
122  2016      Maig   1305611
123  2016      Juny   1384002
124  2016    Juliol   1277419
125  2016     Agost   1027707
126  2016  Setembre   1327460
127  2016   Octubre   1309435
128  2016  Novembre   1266331
129  2016  Desembre   1022669
130  2017     Anual  14154833
131  2017     Gener   1025807
132  2017    Febrer   1129702
133  2017      Març   1342093
134  2017     Abril   1149276
135  2017      Maig   1463944
136  2017      Juny   1360560
137  2017    Juliol   1211578
138  2017     Agost    973354
139  2017  Setembre   1146897
140  2017   Octubre   1293646
141  2017  Novembre   1185019
142  2017  Desembre    872957
143  2018     Gener   1045724
144  2018    Febrer    853375
145  2018      Març   1033314
146  2018     Abril   1118229
147  2018      Maig   1252756
148  2018      Juny   1248458
149  2018    Juliol   1194864

[150 rows x 3 columns]

In [14]:
km_data = {'Anys': [2013, 2014, 2015, 2016, 2017] , 'Km': [104.9, 116.0, 120.0, 126.2, 157.1]}
km_bike_road = pd.DataFrame(data = km_data)
km_bike_road.head()

   Anys     Km
0  2013  104.9
1  2014  116.0
2  2015  120.0
3  2016  126.2
4  2017  157.1

In [15]:
parking_slots = {'Anys': [2013, 2014, 2015, 2016, 2017], 'Dimensió(km)': [22350, 23559, 24589, 26158, 33834]}
ps_df = pd.DataFrame(data = parking_slots)
ps_df

   Anys  Dimensió(km)
0  2013         22350
1  2014         23559
2  2015         24589
3  2016         26158
4  2017         33834

In [16]:
electric_bikes = {'Anys': [2015, 2016, 2017], 'Abonats': [5153, 7784, 9174], 'Viatges': [53475, 101837, 109674], 'Bicicletes': [300, 300, 300], 'Estacions': [46, 46, 46]}
elbikes_df = pd.DataFrame(data = electric_bikes)
elbikes_df

   Anys  Abonats  Viatges  Bicicletes  Estacions
0  2015     5153    53475         300         46
1  2016     7784   101837         300         46
2  2017     9174   109674         300         46

## Abonats Bicing

In [30]:
abonats_bicing.dtypes
abonats_bicing.max(axis = 0)

Anys         2018
Mes      Setembre
Valor      107218
dtype: object

In [32]:
abonats_bicing_2014 = abonats_bicing.loc[abonats_bicing['Anys'] == 2014]
abonats_bicing_2014

    Anys       Mes  Valor
0   2014     Anual  96252
1   2014     Gener      0
2   2014    Febrer      0
3   2014      Març  99401
4   2014     Abril  99038
5   2014      Maig  98382
6   2014      Juny  97957
7   2014    Juliol  97437
8   2014     Agost  97109
9   2014  Setembre  96846
10  2014   Octubre  96330
11  2014  Novembre  95886
12  2014  Desembre  96252

In [33]:
abonats_bicing_2015 = abonats_bicing.loc[abonats_bicing['Anys'] == 2015]
abonats_bicing_2015

    Anys       Mes  Valor
13  2015     Anual  95537
14  2015     Gener  95745
15  2015    Febrer  96191
16  2015      Març  96385
17  2015     Abril  95581
18  2015      Maig  95173
19  2015      Juny  95290
20  2015    Juliol  95116
21  2015     Agost  95395
22  2015  Setembre      0
23  2015   Octubre      0
24  2015  Novembre      0
25  2015  Desembre      0

In [34]:
abonats_bicing_2016 = abonats_bicing.loc[abonats_bicing['Anys'] == 2016]
abonats_bicing_2016

    Anys       Mes   Valor
26  2016     Anual  102353
27  2016     Gener   94913
28  2016    Febrer   96059
29  2016      Març   96452
30  2016     Abril   96583
31  2016      Maig   96715
32  2016      Juny   97573
33  2016    Juliol   97528
34  2016     Agost   98497
35  2016  Setembre   99772
36  2016   Octubre   99584
37  2016  Novembre  100968
38  2016  Desembre  102353

In [35]:
abonats_bicing_2017 = abonats_bicing.loc[abonats_bicing['Anys'] == 2017]
abonats_bicing_2017

    Anys       Mes   Valor
39  2017     Anual  106688
40  2017     Gener  103330
41  2017    Febrer  103832
42  2017      Març  104686
43  2017     Abril  105281
44  2017      Maig  106430
45  2017      Juny  106649
46  2017    Juliol  106883
47  2017     Agost  106688
48  2017  Setembre  106295
49  2017   Octubre  106763
50  2017  Novembre  107143
51  2017  Desembre  106688

In [36]:
abonats_bicing_2018 = abonats_bicing.loc[abonats_bicing['Anys'] == 2018]
abonats_bicing_2018

    Anys     Mes   Valor
52  2018   Gener  107218
53  2018  Febrer  106856
54  2018    Març  106717
55  2018   Abril  106681
56  2018    Maig  106308
57  2018    Juny  106453
58  2018  Juliol  106308

In [ ]:
accidents_data = {'Anys': [2013, 2014, 2015, 2016, 2017], 'Ferits_Totals': [0,0,0,0,621], 'Ferits_Lleus':[0,0,0,0,605], 'Ferits_Greus':[0,0,0,0,16], 'Morts': [0,0,0,0,0]}
accidents = pd.DataFrame(data = accidents_data)

## Open Data - Bicing Usage

In [52]:
bicing_usage0818 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_08_Agost_BICING_US.csv')
bicing_usage0818.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,659,14,645,2018-08-01 17:43:27
1,0,666,16,650,2018-08-01 17:45:40
2,0,648,11,637,2018-08-01 18:00:42
3,0,845,13,832,2018-08-01 18:15:40
4,0,889,13,876,2018-08-01 18:30:40

In [51]:
bicing_usage0918 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_09_Setembre_BICING_US.csv', sep = ';')
bicing_usage0918.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,287,4,283,2018-09-01 00:00:56
1,0,311,4,307,2018-09-01 00:15:56
2,0,281,4,277,2018-09-01 00:30:56
3,0,244,2,242,2018-09-01 00:45:55
4,0,223,2,221,2018-09-01 01:00:56

In [49]:
bicing_usage1018 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_10_Octubre_BICING_US.csv')
bicing_usage1018.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,577,10,567,2018-10-01 09:33:52
1,0,490,2,488,2018-10-01 12:20:06
2,0,607,5,602,2018-10-01 14:03:19
3,0,620,7,613,2018-10-01 15:05:20
4,0,657,11,646,2018-10-01 15:16:20

In [46]:
bicing_usage1118 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/data/dataset/4a469cf6-dbab-4aa1-b492-aa0af9af93c9/resource/6d35ca24-03f3-4a7c-b3fc-d46df3280302/download/2018_11_novembre_bicing_us.csv')
bicing_usage1118.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,139,0,139,2018-11-01 00:01:39
1,0,133,0,133,2018-11-01 00:06:39
2,0,99,1,98,2018-11-01 00:11:37
3,0,91,1,90,2018-11-01 00:17:15
4,0,91,1,90,2018-11-01 00:22:06

In [47]:
bicing_usage1218 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_12_Desembre_BICING_US.csv')
bicing_usage1218.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,255,5,250,2018-12-01 00:00:04
1,0,244,4,240,2018-12-01 00:05:04
2,0,270,2,268,2018-12-01 00:10:04
3,0,286,2,284,2018-12-01 00:15:03
4,0,284,2,282,2018-12-01 00:20:04

In [48]:
bicing_usage0119 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2019_01_Gener_BICING_US.csv')
bicing_usage0119.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,50,0,50,2019-01-01 00:00:11
1,0,47,0,47,2019-01-01 00:05:12
2,0,50,0,50,2019-01-01 00:10:12
3,0,76,0,76,2019-01-01 00:15:12
4,0,119,0,119,2019-01-01 00:20:12

In [53]:
bicing_usage0219 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2019_02_Febrer_BICING_US.csv')
bicing_usage0219.head()

,error,bikesInUsage,electricalBikesInUsage,mechanicalBikesInUsage,dateTime
0,0,131,0,131,2019-02-01 00:00:00
1,0,132,2,130,2019-02-01 00:05:00
2,0,129,3,126,2019-02-01 00:09:59
3,0,126,4,122,2019-02-01 00:14:59
4,0,113,3,110,2019-02-01 00:20:00

## Open Data - Bicing Stations

In [57]:
bicing_stations0818 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_08_Agost_BICING_ESTACIONS.csv')
bicing_stations0818.head()

,id,type,latitude,longitude,streetName,streetNumber,altitude,slots,bikes,nearbyStations,status,updateTime
0,1,BIKE,41.397952,2.180042,Gran Via Corts Catalanes,760,21,2,25,"24, 369, 387, 426",OPN,01/08/18 17:43:08
1,2,BIKE,41.395530,2.177060,Roger de Flor/ Gran Vía,126,21,0,27,"360, 368, 387, 414",OPN,01/08/18 17:43:08
2,3,BIKE,41.394072,2.183441,Nàpols,82,22,19,7,"4, 6, 119, 419",OPN,01/08/18 17:43:08
3,4,BIKE,41.393470,2.181490,Ribes,13,21,11,7,"3, 5, 359, 419",OPN,01/08/18 17:43:08
4,5,BIKE,41.391075,2.180223,Pg Lluís Companys,11,16,34,2,"6, 7, 359, 418",OPN,01/08/18 17:43:08

In [58]:
bicing_stations0918 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_09_Setembre_BICING_ESTACIONS.csv')
bicing_stations0918.head()

ParserError: Error tokenizing data. C error: Expected 6 fields in line 10, saw 7

In [62]:
bicing_stations1018 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_10_Octubre_BICING_ESTACIONS.csv')
bicing_stations1018.head()

,id,type,latitude,longitude,streetName,streetNumber,altitude,slots,bikes,nearbyStations,status,updateTime
0,1,BIKE,41.397952,2.180042,Gran Via Corts Catalanes,760,21,28,1,"24, 369, 387, 426",OPN,01/10/18 09:33:08
1,2,BIKE,41.395530,2.177060,Roger de Flor/ Gran Vía,126,21,16,11,"360, 368, 387, 414",OPN,01/10/18 09:33:08
2,3,BIKE,41.394072,2.183441,Nàpols,82,22,18,8,"4, 6, 119, 419",OPN,01/10/18 09:33:08
3,4,BIKE,41.393470,2.181490,Ribes,13,21,17,3,"3, 5, 359, 419",OPN,01/10/18 09:33:08
4,5,BIKE,41.391075,2.180223,Pg Lluís Companys,11,16,32,6,"6, 7, 359, 418",OPN,01/10/18 09:33:08

In [59]:
bicing_stations1118 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/data/dataset/fa94d2f3-3428-47b8-9f2b-f1e4423e745a/resource/b289555d-db77-4c5b-bd44-b046d7de4147/download/2018_11_novembre_bicing_estacions.csv')
bicing_stations1118.head()

,id,type,latitude,longitude,streetName,streetNumber,altitude,slots,bikes,nearbyStations,status,updateTime
0,1,BIKE,41.397952,2.180042,Gran Via Corts Catalanes,760,21,2,25,"24, 369, 387, 426",OPN,01/11/18 00:01:18
1,2,BIKE,41.395530,2.177060,Roger de Flor/ Gran Vía,126,21,12,13,"360, 368, 387, 414",OPN,01/11/18 00:01:18
2,3,BIKE,41.394055,2.181299,Nàpols,82,22,23,2,"4, 6, 119, 419",OPN,01/11/18 00:01:18
3,4,BIKE,41.393480,2.181555,Ribes,13,21,18,3,"3, 5, 359, 419",OPN,01/11/18 00:01:18
4,5,BIKE,41.391075,2.180223,Pg Lluís Companys,11,16,20,17,"6, 7, 359, 418",OPN,01/11/18 00:01:18

In [60]:
bicing_stations1218 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2018_12_Desembre_BICING_ESTACIONS.csv')
bicing_stations1218.head()

,id,type,latitude,longitude,streetName,streetNumber,altitude,slots,bikes,nearbyStations,status,updateTime
0,1,BIKE,41.397952,2.180042,Gran Via Corts Catalanes,760,21,10,17,"24, 369, 387, 426",OPN,30/11/18 23:59:14
1,2,BIKE,41.395530,2.177060,Roger de Flor/ Gran Vía,126,21,4,23,"360, 368, 387, 414",OPN,30/11/18 23:59:14
2,3,BIKE,41.394055,2.181299,Nàpols,82,22,9,18,"4, 6, 119, 419",OPN,30/11/18 23:59:14
3,4,BIKE,41.393480,2.181555,Ribes,13,21,0,20,"3, 5, 359, 419",OPN,30/11/18 23:59:14
4,5,BIKE,41.391075,2.180223,Pg Lluís Companys,11,16,1,38,"6, 7, 359, 418",OPN,30/11/18 23:59:14

In [61]:
bicing_stations0119 = pd.read_csv('https://opendata-ajuntament.barcelona.cat/resources/bcn/2019_01_Gener_BICING_ESTACIONS.csv')
bicing_stations0119.head()

,id,type,latitude,longitude,streetName,streetNumber,altitude,slots,bikes,nearbyStations,status,updateTime
0,1,BIKE,41.397952,2.180042,Gran Via Corts Catalanes,760,21,10,16,"24, 369, 387, 426",OPN,01/01/19 00:05:13
1,2,BIKE,41.395530,2.177060,Roger de Flor/ Gran Vía,126,21,8,18,"360, 368, 387, 414",OPN,01/01/19 00:05:13
2,3,BIKE,41.394055,2.181299,Nàpols,82,22,2,22,"4, 6, 119, 419",OPN,01/01/19 00:05:13
3,4,BIKE,41.393480,2.181555,Ribes,13,21,0,21,"3, 5, 359, 419",OPN,01/01/19 00:05:13
4,5,BIKE,41.391075,2.180223,Pg Lluís Companys,11,16,0,39,"6, 7, 359, 418",OPN,01/01/19 00:05:13