In [1]:
import pandas as pd

In [32]:
estacions_bicing = pd.read_csv('estacions_bicing.csv', sep = ';')

In [34]:
estacions_bicing

    Anys  Valor
0   2007    194
1   2008    390
2   2009    419
3   2010    420
4   2011    421
5   2012    420
6   2013    421
7   2014    420
8   2015    423
9   2016    420
10  2017    420

In [35]:
abonats_bicing = pd.read_csv('abonats_bicing.csv', sep=';', encoding = 'ISO-8859-1')

In [36]:
abonats_bicing

    Anys       Mes   Valor
0   2014     Anual   96252
1   2014     Gener       0
2   2014    Febrer       0
3   2014      Març   99401
4   2014     Abril   99038
5   2014      Maig   98382
6   2014      Juny   97957
7   2014    Juliol   97437
8   2014     Agost   97109
9   2014  Setembre   96846
10  2014   Octubre   96330
11  2014  Novembre   95886
12  2014  Desembre   96252
13  2015     Anual   95537
14  2015     Gener   95745
15  2015    Febrer   96191
16  2015      Març   96385
17  2015     Abril   95581
18  2015      Maig   95173
19  2015      Juny   95290
20  2015    Juliol   95116
21  2015     Agost   95395
22  2015  Setembre       0
23  2015   Octubre       0
24  2015  Novembre       0
25  2015  Desembre       0
26  2016     Anual  102353
27  2016     Gener   94913
28  2016    Febrer   96059
29  2016      Març   96452
30  2016     Abril   96583
31  2016      Maig   96715
32  2016      Juny   97573
33  2016    Juliol   97528
34  2016     Agost   98497
35  2016  Setembre   99772
36  2016   Octubre   99584
37  2016  Novembre  100968
38  2016  Desembre  102353
39  2017     Anual  106688
40  2017     Gener  103330
41  2017    Febrer  103832
42  2017      Març  104686
43  2017     Abril  105281
44  2017      Maig  106430
45  2017      Juny  106649
46  2017    Juliol  106883
47  2017     Agost  106688
48  2017  Setembre  106295
49  2017   Octubre  106763
50  2017  Novembre  107143
51  2017  Desembre  106688
52  2018     Gener  107218
53  2018    Febrer  106856
54  2018      Març  106717
55  2018     Abril  106681
56  2018      Maig  106308
57  2018      Juny  106453
58  2018    Juliol  106308

In [42]:
demanda_bicing = pd.read_csv('demanda_bicing.csv', sep = ';', encoding = 'ISO-8859-1')

In [43]:
demanda_bicing

     Anys       Mes     Valor
0    2007     Anual   3781855
1    2007     Gener         0
2    2007    Febrer         0
3    2007      Març       744
4    2007     Abril     18684
5    2007      Maig    181861
6    2007      Juny    363399
7    2007    Juliol    510983
8    2007     Agost    452278
9    2007  Setembre    541646
10   2007   Octubre    546365
11   2007  Novembre    622796
12   2007  Desembre    543099
13   2008     Anual  12307828
14   2008     Gener    717545
15   2008    Febrer    775494
16   2008      Març    911191
17   2008     Abril   1120121
18   2008      Maig   1082011
19   2008      Juny   1173518
20   2008    Juliol   1185254
21   2008     Agost    984162
22   2008  Setembre   1182431
23   2008   Octubre   1212708
24   2008  Novembre   1036873
25   2008  Desembre    926520
26   2009     Anual  10704955
27   2009     Gener    965094
28   2009    Febrer    810471
29   2009      Març    983955
..    ...       ...       ...
120  2016      Març   1070994
121  2016     Abril   1170000
122  2016      Maig   1305611
123  2016      Juny   1384002
124  2016    Juliol   1277419
125  2016     Agost   1027707
126  2016  Setembre   1327460
127  2016   Octubre   1309435
128  2016  Novembre   1266331
129  2016  Desembre   1022669
130  2017     Anual  14154833
131  2017     Gener   1025807
132  2017    Febrer   1129702
133  2017      Març   1342093
134  2017     Abril   1149276
135  2017      Maig   1463944
136  2017      Juny   1360560
137  2017    Juliol   1211578
138  2017     Agost    973354
139  2017  Setembre   1146897
140  2017   Octubre   1293646
141  2017  Novembre   1185019
142  2017  Desembre    872957
143  2018     Gener   1045724
144  2018    Febrer    853375
145  2018      Març   1033314
146  2018     Abril   1118229
147  2018      Maig   1252756
148  2018      Juny   1248458
149  2018    Juliol   1194864

[150 rows x 3 columns]

In [44]:
emisions_municipi = pd.read_csv('emissions_per_municipi_2012.csv', sep = ';', encoding = 'ISO-8859-1')

In [45]:
emisions_municipi

                         Àmbits  Anys       Contaminant  Valor
0                      Badalona  2012  Emissions de NO2    121
1                      Badalona  2012   Emissions de PM     38
2                     Barcelona  2012  Emissions de NO2   1052
3                     Barcelona  2012   Emissions de PM    322
4                        Begues  2012  Emissions de NO2      6
5                        Begues  2012   Emissions de PM      2
6                 Castellbisbal  2012  Emissions de NO2    107
7                 Castellbisbal  2012   Emissions de PM     32
8                 Castelldefels  2012  Emissions de NO2     47
9                 Castelldefels  2012   Emissions de PM     14
10                     Cervelló  2012  Emissions de NO2     23
11                     Cervelló  2012   Emissions de PM      7
12         Corbera de Llobregat  2012  Emissions de NO2      5
13         Corbera de Llobregat  2012   Emissions de PM      2
14        Cornellà de Llobregat  2012  Emissions de NO2     70
15        Cornellà de Llobregat  2012   Emissions de PM     21
16       Esplugues de Llobregat  2012  Emissions de NO2     65
17       Esplugues de Llobregat  2012   Emissions de PM     20
18                         Gavà  2012  Emissions de NO2     60
19                         Gavà  2012   Emissions de PM     18
20  Hospitalet de Llobregat, l'  2012  Emissions de NO2    117
21  Hospitalet de Llobregat, l'  2012   Emissions de PM     35
22                Molins de Rei  2012  Emissions de NO2     43
23                Molins de Rei  2012   Emissions de PM     13
24            Montcada i Reixac  2012  Emissions de NO2     98
25            Montcada i Reixac  2012   Emissions de PM     29
26                      Montgat  2012  Emissions de NO2     26
27                      Montgat  2012   Emissions de PM      8
28                      Pallejà  2012  Emissions de NO2     58
29                      Pallejà  2012   Emissions de PM     17
..                          ...   ...               ...    ...
62                        Tiana  2012  Emissions de NO2     15
63                        Tiana  2012   Emissions de PM      5
64       Torrelles de Llobregat  2012  Emissions de NO2     11
65       Torrelles de Llobregat  2012   Emissions de PM      3
66                   Viladecans  2012  Emissions de NO2     67
67                   Viladecans  2012   Emissions de PM     20
68             Badia del Vallès  2012  Emissions de NO2     26
69             Badia del Vallès  2012   Emissions de PM      8
70        Palma de Cervelló, la  2012  Emissions de NO2      8
71        Palma de Cervelló, la  2012   Emissions de PM      2
72                 Ciutat Vella  2012  Emissions de NO2     54
73                 Ciutat Vella  2012   Emissions de PM     17
74                   L'Eixample  2012  Emissions de NO2    193
75                   L'Eixample  2012   Emissions de PM     59
76               Sants-Montjuïc  2012  Emissions de NO2    165
77               Sants-Montjuïc  2012   Emissions de PM     51
78                    Les Corts  2012  Emissions de NO2     95
79                    Les Corts  2012   Emissions de PM     30
80          Sarrià-Sant Gervasi  2012  Emissions de NO2    129
81          Sarrià-Sant Gervasi  2012   Emissions de PM     40
82                       Gràcia  2012  Emissions de NO2     45
83                       Gràcia  2012   Emissions de PM     14
84               Horta-Guinardó  2012  Emissions de NO2     93
85               Horta-Guinardó  2012   Emissions de PM     29
86                   Nou Barris  2012  Emissions de NO2     52
87                   Nou Barris  2012   Emissions de PM     16
88                  Sant Andreu  2012  Emissions de NO2    103
89                  Sant Andreu  2012   Emissions de PM     32
90                   Sant Martí  2012  Emissions de NO2    137
91                   Sant Martí  2012   Emissions de PM     42

[92 rows x 4 columns]